{"filter":false,"title":"requirements.txt","tooltip":"/lam2/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":93,"scrollleft":0,"selection":{"start":{"row":18,"column":16},"end":{"row":18,"column":16},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":5,"state":"start","mode":"ace/mode/text"}},"timestamp":1590406796019,"hash":"0ce6235309bff14939f2bc84b4d08cc5dbf2bdbb"}