{"filter":false,"title":"requirements.txt","tooltip":"/lam1/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":738,"scrollleft":0,"selection":{"start":{"row":58,"column":0},"end":{"row":58,"column":3},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"hash":"0ce6235309bff14939f2bc84b4d08cc5dbf2bdbb","timestamp":1590407454189}