{"filter":false,"title":"requirements.txt","tooltip":"/sam/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":417.5,"scrollleft":0,"selection":{"start":{"row":29,"column":23},"end":{"row":29,"column":23},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":67,"state":"start","mode":"ace/mode/text"}},"hash":"0ce6235309bff14939f2bc84b4d08cc5dbf2bdbb","timestamp":1590399785830}